.listh li{
float: left;
}

.listh a{
 display: block;
  color: #ebfffe;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  	font-family: helvetica;

}

.listh ul {
 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1ea896;
}

.listh a:hover{
	background-color: #41393e;
		font-family: helvetica;

}

body{
	height: 100%;
	background-color: #41393e;
	padding: 0;
	margin-left: 80px;
	margin-right: 80px;
}

main{
	background-color:#ebfffe;
	line-height:3;
	font-family: helvetica;
	font-size:17px;
	padding: 30px;
	margin: 0;
	text-decoration:none;
}


h1{
	padding: 0;
	margin: 0;
	text-align: center;
	background-color:white;
	font-size: 55px;
	font-family: helvetica;
	padding-top: 2%;
	height: 200px;
	background-image: url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color:#ebfffe;
}

h2{
	text-align: center;
}

p{
	padding: 10px;
}




footer{
	margin-right: 80px;
	margin-left: 80px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
width: auto;
	font-family: helvetica;
background-color: #1ea896;
color: #EEF0F2;
text-align:center;
}

